body{
    /* background-color: red; */
    color: white;
    /* border: red solid 2px; */
}
.foodGroups{
    /* padding:2vh; */
    /* margin: 2vh; */
    border: white 2vh solid;
    color: white;
  
    /* background: radial-gradient(circle, rgba(245,190,65,1) 33%, rgba(207,55,33,1) 33%, rgba(207,55,33,1) 56%, rgba(49,169,184,1) 56%);     */
    background-image: linear-gradient(90deg, rgba(245,190,65,1) 23%, rgba(207,55,33,1) 43%, rgba(207,55,33,1) 56%, rgba(49,169,184,1) 76%);
}
.foodGroups h4{
    
    text-align: center;
    color: white;
}
.foodGroup{
    /* border-left: white 4px dotted; */
    color:black;
    height: 89vh;
    padding: 2%;
}
/* green */
/* #258039 */
/* blue */
/* #31A9B8  */

.veg{
    /* background: linear-gradient(315deg, #f5be41 50%,   #f5be41 50%); */
}
.fruit{
    /* border: red solid 2px; */
    /* background: #CF3721 ; */
    /* background: linear-gradient(45deg, #f5be41 50%, #CF3721 50%); */
 }
/* .dairy{
    background: linear-gradient(45deg, #CF3721  50%, #31A9B8 50%);
}  */

/* .veg{ */
    /* background: linear-gradient(315deg, #f5be41 50%,   #258039 50%); */
    /* background: radial-gradient( #258039  65%,  #D8BCAB 70%);
    height: 45vw;
    max-height: 30vw;
    max-width: 45vw; */
/* 
    padding: 10%; */
    /* margin: auto; */
    /* border: red solid 2px; */
/* } */
/* .fruit{ */
    /* background: radial-gradient( #f5be41  60%,  #D8BCAB 65%);
    height: 45vw;
    max-height: 30vw;
    max-width: 45vw; */
    /* padding: 10%; */
    /* margin: auto; */
    /* background: linear-gradient(45deg, #f5be41 50%, #CF3721 50%); */
/* } */
/* .dairy{ */
    /* background: radial-gradient(  #CF3721 55%,  #D8BCAB 60%);
    height: 45vw;
    max-height: 30vw;
    max-width: 45vw; */
    /* padding: 10%; */
    /* margin: auto; */
    /* background: linear-gradient(315deg, #31A9B8  50%, #CF3721 50%); */
/* } */

.veg{
    /* background: linear-gradient(315deg, #f5be41 45%,white 47% 48.5%,white 48.5% 50%,#f5be41 53%); */
}
.fruit{
    /* background: linear-gradient(45deg, #CF3721 45%,white 47% 48.5%,white 48.5% 50%, #CF3721 53%); */
}
.dairy{
    /* background: linear-gradient(315deg, #31A9B8  45%,white 47% 48.5%,white 48.5% 50%, #31A9B8 53%); */
}

/* .veg{
    background: linear-gradient(315deg, #f5be41 30%,white 30% 50%,white 50% 70%,#258039 70%);
}
.fruit{
    background: linear-gradient(45deg, #f5be41 30%,white 30% 50%,white 50% 70%, #CF3721 70%);
}
.dairy{
    background: linear-gradient(315deg, #31A9B8  30%,white 30% 50%,white 50% 70%, #CF3721 70%);
} */




/* .foodGroup{
    color:white;
    border-radius: 50%;
    padding:100px;
    vertical-align: top;
    display: inline-block;
    margin: 10px;

    
}
.veg{
    background-color: #F26419;
    width:40vw;
    height: 40vw;
}
.fruit{
    background-color: #F6AE2D;
    width:35vw;
    height: 35vw;
}
.dairy{
    background-color: #98C1D9;
    width:30vw;
    height: 30vw;
} */

.deleteBtn{
    border-radius: 2px;
    background-color: #d9534f;
    color:white;
    border: 0px solid white;
    padding: 1px 7px;
    
}

/* .scroll{
    overflow:hidden; 
    overflow-y:scroll;
    width: 100%;
    height: 50%;
} */


.itemList{
    background-color: rgb(255,255,255,.5);
    height: 50%;
    width: 100%;
    /* padding: 2vh; */
    margin: 0;
    overflow:auto; 
    /* overflow-y:scroll; */
    border-radius: 15px;
    /* border: white solid 2px; */
    /* list-style-type: none; */
    list-style-position: inside;
    list-style: none;
    color: black;
}
.itemList li{
    padding-bottom: 3px;
}

