.foodGroups{
    /* padding:2%; */
    /* margin: auto 2px; */
    
    border: #ffffff 2vh solid;
    color: white;
}
.foodGroups h4{
    text-align: center;
    color: white;
}
.foodGroup{
    color:black;
    height: 89vh;
    padding: 2%;
}
/* green */
/* #258039 */
/* blue */
/* #31A9B8  */

.veg{
    background: linear-gradient(315deg, #f5be41 50%,   #f5be41 50%);
}
.fruit{
    background: linear-gradient(45deg, #f5be41 50%, #CF3721 50%);
}
.dairy{
    background: linear-gradient(45deg, #CF3721  50%, #31A9B8 50%);
}

/* .veg{
    background: linear-gradient(315deg, #f5be41 50%,   #258039 50%);
}
.fruit{
    background: linear-gradient(45deg, #f5be41 50%, #CF3721 50%);
}
.dairy{
    background: linear-gradient(315deg, #31A9B8  50%, #CF3721 50%);
} */



/* .foodGroup{
    color:white;
    border-radius: 50%;
    padding:100px;
    vertical-align: top;
    display: inline-block;
    margin: 10px;

    
}
.veg{
    background-color: #F26419;
    width:40vw;
    height: 40vw;
}
.fruit{
    background-color: #F6AE2D;
    width:35vw;
    height: 35vw;
}
.dairy{
    background-color: #98C1D9;
    width:30vw;
    height: 30vw;
} */

.deleteBtn{
    border-radius: 2px;
    background-color: #d9534f;
    color:white;
    border: 0px solid white;
    padding: 1px 7px;
    
}

/* .scroll{
    overflow:hidden; 
    overflow-y:scroll;
    width: 100%;
    height: 50%;
} */


.itemList{
    /* background-color: white; */
    height: 40vh;
    width: 100%;
    padding: 2vh;
    margin: 0;
    overflow:auto; 
    overflow-y:scroll;
    border-radius: 15px;
    /* list-style-type: none; */
    list-style-position: inside;
    list-style: none;
    color: white;
}
.itemList li{
    padding-bottom: 3px;
}

